html,
body {
  margin: 0;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

 


}






section{
  height: 100vh;
  background-color: white;
  border: solid black 1px;
  
}

footer{
  height: 80vh;
   background-color:black ;
   color: white;
   text-align: center;
  
}



ul {
  display: flex;
  list-style-type: none;
  
  justify-content: space-between;
  font-size: 30px;
}

ul.show{
  display: block;
  margin-top: 60px;
 
  height: 20%;
  
}

@media only screen and (max-width: 300px){
 
  ul.show{
    margin-top: 60px;
    margin-left: -200px;
    height: 10%;
  }

}

li {
  padding-left: 2.1em;
  margin-right: 10px;
  text-decoration: none;
}

li a:hover{
  color: coral;
}

h1 {
  font-size: 2.1em;
  margin: 0;
}

h2 {
  font-size:1.2em;
}

p {
 
  
  font-weight: 300;
}

hr{
  margin-left: 20%;
  margin-right: 20%;
  color: black;
}

a{
  text-decoration: none;
  color: white;
}
