

/*section 1*/
.hero{
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size:40px ;
  display: flex;
  flex-direction: column;
}

.hero_nav{ 
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
  
}




.hamburger{
  position: absolute;
  right: 0px;
 
 
}

.navlist{
  color: coral;
  
}

.navlist:hover{
  
  color: #c25733;
 
}

.menu{
 
 

}

.hero_area {
  width: 100%;
   display: flex;
   flex-direction: row;
   height: 100%;
   justify-content: space-between;
   align-items: center;
  
}

.hero_text {
  margin-left: 60px ;
  margin-bottom: 150px;
  

}




.button{
  width: 5.2em ;
  height: 55px;
  border-radius: 40px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}


.button:hover{
  background-color: #ef744b;
  
}

.button:active{
  background-color: darkgray;
  color: #808080;
}
 


.socials {
  display: flex;
  flex-direction: column; 
  padding-bottom: 200px; 

}

.logo {
  height: 80px;
  animation: rotatelogo 5s ;
}

@keyframes rotatelogo {

  from {
  margin-left: 500px; 
    transform: rotate(-200deg);
  }

  to {
   margin-left: 0px;
   
  }
}



.logo:hover{
  transform: scale(1.2);
}

.social {

  padding-top: 10px;
  padding-bottom: 10px;
}


@media only screen and (max-width: 600px){
  .hero{
    background-color: #1c1d25;
    height: auto;
    color: white;
    font-size:40px ;
    display: flex;
    flex-direction: column;
  }


    .hero_area{
      display: flex;
      flex-direction: column; 
     
    }


 @media only screen and (max-width: 300px){
     

      .hero_author{
        font-size: 40px;
    
      }
      
      .hero_title{
        font-size: 20px;
      }
    
    }

    
    .hero_text{
      margin-left: 0px ;
      margin-top: 200px;
    }

    .socials {
      display: flex;
      flex-direction: row; /**/
     
      padding-bottom: 0px; /**/
    
    }
    
    .social {

      padding-left: 10px;
      padding-right: 0.2em;
    }
    

}

/*section 2*/

.sub_section{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2.2em;
  background-color: rgb(253, 235, 214);
}

.information{
  padding-left: 3.2;
  padding-right: 2.2em;
  text-align: center;
 
}

.personal_information{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  text-align: left;
  
  
}

.hobies_list{
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-left: -20px;
  margin-top: 50px;
}

.skillscontainer{
  margin-top: 20px;
  padding-bottom: 20px;
}

.skills{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-left: 10px;

}

.skillstitle{

 text-align: center;
}

.skill_icon{
  padding-left: 5px;
  
  width: 50px;
  animation: ShowSkill 3s;
}
@keyframes ShowSkill {

  from {
 
    transform: rotate(-200deg);
    opacity: 0.4;
  }

  to {
   
   
  }
}


.skill_icon:hover{
  transform: scale(1.1);
}

.headshot_container{
  
  display: flex;
  padding-top: 2em;
  margin-bottom: 20px;
 
  max-width: 200px;
  
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  animation: ShowHeadshot 3s;


}

.headshot_container:hover{
  cursor: pointer;
}

@keyframes ShowHeadshot {

  from {
 
   
    opacity: 0.4;
  }

  to {
   
   
  }
}




.headshot {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  scroll-snap-align: center;
   
  



}

@media only screen and (max-width: 1496px){

  .headshot_container::-webkit-scrollbar{
 
    width: 77px;
    height: 10px;
  }
  
  .headshot_container::-webkit-scrollbar-thumb{
   
    background-color: #ef744b;
    border-radius: 1px;
    
  }
   
  .headshot_container::-webkit-scrollbar-track{
   
    background-color:white;
    border-radius: 10px;
    
  }
  
  .headshot_container::-webkit-validation-bubble-arrow{
    background-color: aquamarine;
  }


}


/*section 3*/

.sub_section_alternative{

   
   text-align: center;
  
   height: auto;
   background-color: rgb(253, 235, 214);

}


.project_intro{
   
  margin-top: 80px;
 font-size: 1.6em;

}

.project_kind_intro{
  
    text-align: left;
    margin-left: 5%;
    font-size: 1.4em;
    color: rgb(224, 129, 20);
     font-family: 'Fuzzy Bubbles', cursive;

 

}

.project_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
 padding-left: 1.2em;
 padding-right: 1.2em;

 padding-top: 30px;
 padding-bottom: 50px;
 

  
}



.bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project_card {
  width: 20%;
  height: auto;
 
  align-self: flex-start;
  border: 1px solid black;
  box-shadow: 5px 5px 20px rgb(146, 146, 145);
  animation: fadeIn 3s ;
  
}
@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.project_card:hover{
  transform: scale(1.1);
  cursor: pointer;
  border: 2px solid orange;
  background-color: rgb(255, 255, 255);

}


.project_image{
  width: 100%;
  margin-top: 20px;
  border-radius: 50%;
 
}

.subtext {
   height: 50px;
  font-weight: 300;
  overflow-y: scroll;
  padding: 10px;
}

.link{
  display: none;
}



.link:hover{
  color: coral;
  transform: scale(2.2);
  cursor: pointer;
}

/* Contact Form*/
.bottom{
  height:auto
}

.form{
 display: flex;
 flex-direction: column;
 width: 100%;
 margin-top: 40px;

}

.input{
  width: 50%;
  height: 30px;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.textarea{
  align-self: center;
  width: 50%;
  height: 200px;
  border-radius: 10px;
  padding-left: 10px;
}

.sendbutton{
  margin-top: 10px;
  width: 70px;
  align-self: center;
  border-radius: 5px;
}

@media only screen and (max-width: 400px){
  .input{
    width: 90%;
    
  }

  .textarea{
   
    width: 90%;
    
  }

}


@media only screen and (max-width: 700px){

  .project_container{
    flex-direction: column;
   
  }
 
  .project_card {
    width: 100%;
    height: auto;
    margin-top:40px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px rgb(146, 146, 145);
  }

}

.hamburger{
   display: none;
    
}

@media only screen and (max-width: 600px){
  .hamburger{
    display: block;
    border: 0;
    background-color: transparent;
    color: rgb(228, 147, 26);
    width: 5.5em;
   
     
   }

   .navlist{
     color: coral;
   }

  .menu {
    display: none;
    color: #ef744b;
  }

 
}




