.overlay{
    position: fixed;
    top: 0px;
    left: 0;
    
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;
      background-color: rgba(216, 164, 95, 0.5);
   
}


.modal{
     background: black;
     width: 50%;
     margin-top: 50px;
     
     border-radius: 16px;
     padding-bottom: 60px;
     z-index: 100;
     background-color: rgb(255, 244, 244);
     padding-left: 2.1em;
     padding-right: 2.1em;
    
}

@media only screen and (max-width: 600px){

    .modal{
        width: 100%; 
        height: auto;
   }


}


.header{
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.body{
    padding-top: 10px;
}

.closeButton{
    border-radius: 90%;
}

.closeButton:hover{
    transform: scale(1.1);
    background-color: coral;
}


.component :nth-child(5){
   display: block;

     text-align: center;
    
}
